# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

# Ignore file uploads
/public/system
/public/uploads

# Ignore sensitive information
/config/local_env.yml

# Ignore OS files
*.DS_Store

# Ignore local configurations
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/deploy/production.rb
config/deploy/staging.rb
