<% content_for :title, 'Documents' %>
<% @categories.each do |category| %>
<% unless category.documents.blank? %>
<div class="card ml-2 mr-2 mb-2">
  <div class="card-block">
    <div class="row post-header">
      <div class="col-xs-12 col-md-12 subtitle text-center">
        <%= category.name %>
      </div>
    </div>
    <table class="table-borderless">
      <thead>
        <tr>
          <th>Title</th>
          <th>Language</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% category.documents.each do |document| %>
        <tr>
          <td><%= link_to document.title, document_path(document) %></td>
          <td><%= get_language document.language %></td>
          <td><%= raw document.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
<% end %>