<h1 class="bd-title text-center"><%= @category.name %></h1>

<% @documents.each do |document| %>
<div class="box-block">
  <div class="text-center">
    <%= document.title %>
  </div>
  <div>
    <%= raw document.description %>
  </div>
  <% if document && document.doc_file_url %>
  <div class="text-center">
    <%= link_to document.title, category_document_path(@category, document) %>
  </div>
  <% end %>
</div>
<% end %>
