<%# content_for :title, 'Documents' %>
<div class="row post-header">
  <div class="col-xs-12 col-md-12 subtitle text-center">
    <%= @category.name %>
  </div>
</div>

<% @documents.each do |document| %>
<div class="box-block">
  <div class="text-center">
    <%= document.title %>
  </div>
  <div>
    <%= raw document.description %>
  </div>
  <% if document && document.doc_file_url %>
  <div class="text-center">
    <%= link_to document.title, category_document_path(@category, document) %>
  </div>
  <% end %>
</div>
<% end %>