<% unless @category.posts.blank? %>
<h4 class="text-center text-muted"><%= "#{@category.name} Videos" %></h4>

<div class="box-block">
  <div class="row">
    <% @category.posts.each do |post| %>
    <% cache post do %>
    <div class="col-xs-12 col-md-6 mb-3">
      <div class="text-center text-muted"> <%= post.title %></div>

      <% if post.video_url(:screenshot).present? %>
      <%= link_to (image_tag(post.video_url(:screenshot),
        class: 'mx-auto d-block mb-1 image-view-box')),
        language_category_post_path(@category, post, 'en') %>
      <% end %>

      <div class="text-center">
        <% post.languages.each do |language| %>
        <% if post.child_by_language(language) %>
        <span class="m-2">
          <%= link_to get_language(language),
          language_category_post_path(@category, post, language), class: 'bg-info text-white p-1' %>
        </span>
        <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<% end %>
