<h1 class="text-center">
  <%= @category.name %>
</h1>
<% unless @category.posts.blank? %>
<div class="card mb-5">
  <div class="card-block">
    <h3 class="text-center text-info">
      <strong>Videos</strong>
    </h3>
    <% @category.posts.each do |post| %>
    <div class="row">
      <label class="col-sm-4">
        <%= post.languages.blank? ? link_to(post.title, category_post_path(@category, post)) : post.title %>
      </label>
      <label class="col-sm-8">
        <% post.languages.each do |language| %>
        <span>
          <%= link_to language, category_post_path(@category, post, language: language) %>
        </span>
        <% end %>
      </label>
    </div>
    <% end %>
  </div>
</div>
<% end %>
<% unless @category.documents.blank? %>
<div class="card mb-5">
  <div class="card-block">
    <h3 class="text-center text-info">
      <strong>Documents</strong>
    </h3>
    <% @category.documents.each do |doc| %>
    <div>
      <%= link_to doc.title, document_path(doc) %>
    </div>
    <% end %>
  </div>
</div>
<% end %>