/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
 @import "bootstrap";
 @import "active_admin";
 @import "bootstrap3_player";
 @import "skin";

$body-background-color: #F0F0F0;
$header-background-color: #FEC433;
$footer-background-color: #CCD53F;
$footer-height: 50px;
$black-text-color: #000;
$subtitle-color: #74BBB3;
$video-splash-background-color: #55ba57;
$page-title-background-color: #01A2A6;

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $body-background-color;
  margin-bottom: $footer-height;
  font-size: 16px;
}

audio {
  margin: 0 auto;
}

.navbar-inverse {
    background-color: $header-background-color;
}

.navbar-brand {
  margin-left: 90px;
}

.tab-block {
  margin: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  line-height: $footer-height; /* Vertically center the text there */
  background-color: $footer-background-color;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {
  color: $black-text-color;
}

.navbar-inverse .navbar-nav .nav-link {
  color: $black-text-color;
}

.text-info {
  color: $subtitle-color !important;
}

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

.flowplayer {
  background-color: $video-splash-background-color;
}

.flowplayer.custom-subtitles .fp-captions {
  text-align: center;
  bottom: 40px;
}
 
.flowplayer.custom-subtitles .fp-captions p {
  background: none;
  text-shadow: 0 0 2px #000;
}
 
.flowplayer.fp-slim.is-splash {
  background-color: #8a0707;
}

.box-block {
  background-color: white;
  padding: 5px;
  margin: 5px;
}

.page-title {
  background-color: $page-title-background-color;
  color: white;
  height: 40px;
  font-family: 'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 300;
  font-style: normal;
  vertical-align: middle;
}
