/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
 @import "bootstrap";
 @import "active_admin";
 @import "bootstrap3_player";

$body-background-color: #FDFCF2;
$header-background-color: #FEC433;
$footer-background-color: #CCD53F;
$footer-height: 50px;
$black-text-color: #000;
$subtitle-color: #74BBB3;

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $body-background-color;
  margin-bottom: $footer-height;
}

audio {
  margin: 0 auto;
}

.navbar-inverse {
    background-color: $header-background-color;
}

.navbar-brand {
  margin-left: 90px;
}

.tab-block {
  margin: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  line-height: $footer-height; /* Vertically center the text there */
  background-color: $footer-background-color;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {
  color: $black-text-color;
}

.navbar-inverse .navbar-nav .nav-link {
  color: $black-text-color;
}

.text-info {
  color: $subtitle-color !important;
}
